* {
    font-family: "Roboto Light", sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.exit-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 4vw;
    height: 4vw;
    line-height: 4vw;
    font-size: 3vw;
    border-radius: 20%;
    border-left: .5vw solid #0001;
    border-bottom: .5vw solid #0001;
    font-family: sans-serif;
    font-weight: bold;
    color: #0006;
    text-align: center;
    background: #0001;
}

.exit-button:after {
    content: 'x';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.x-button {
    position: absolute;
    color: #eef;
    text-shadow: 0 0 1vw #66f9, 0 0 2vw #00f9;
    font-family: sans-serif;
    font-size: 8vw;
    line-height: 9vw;
    background: #111d;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    box-shadow: 0 0 .6vw #0007, -.1vw -.2vw .5vw #0005, .1vw .2vw .4vw #fff9;
}

.x-button:active {
    position: absolute;
    background: #111d;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
}

.x-button:after {
    content: 'X';
    position: absolute;
    box-shadow: inset .2vw .4vw 1vw #fff6, inset -.1vw -.2vw 1vw #0007;
    border-radius: 50%;
    background: #444;
    height: 100%;
    width: 100%;
    transform: translateX(-50%) scale(.92);
}

.x-button:active:after {
    content: 'X';
    position: absolute;
    border-radius: 50%;
    background: #444;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) scale(.86);
}

.o-button {
    position: absolute;
    color: #eef;
    text-shadow: 0 0 1vw #66f9, 0 0 2vw #00f9;
    font-family: sans-serif;
    font-size: 8vw;
    line-height: 9vw;
    background: #111d;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    box-shadow: 0 0 .6vw #0007, -.1vw -.2vw .5vw #0005, .1vw .2vw .4vw #fff9;
}

.o-button:active {
    position: absolute;
    background: #111d;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
}

.o-button:after {
    content: 'O';
    position: absolute;
    box-shadow: inset .2vw .4vw 1vw #fff6, inset -.1vw -.2vw 1vw #0007;
    border-radius: 50%;
    background: #444;
    height: 100%;
    width: 100%;
    transform: translateX(-50%) scale(.92);
}

.o-button:active:after {
    content: 'O';
    position: absolute;
    border-radius: 50%;
    background: #444;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) scale(.86);
}

.score {
    text-align: right;
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: 12pt;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 14pt;
    color: #fea;
    text-shadow: 0 -3pt 1pt #c82;
    margin-right: 1vw;
    letter-spacing: .3vw;
}

.high-score {
    text-align: left;
    position: absolute;
    top: 2vh;
    left: 2vw;
    font-size: 12pt;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #fea;
    text-shadow: 0 -3pt 1pt #c82;
    margin-right: 1vw;
    letter-spacing: .3vw;
}

.score-text {
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    color: #cde;
    text-shadow: 0 -3pt 1pt #34c;
    margin-right: 1vw;
}

.screen {
    position: absolute;
    top: 2vw;
    left: 22vw;
    width: 56vw;
    height: 70vh;
    border-radius: 1vw;
    background: #111;
    box-shadow: 0 0 1vw #0008, -.2vw -.4vw .5vw #0003, .2vw .4vw .9vw #fff9, 0 0 .5vw .4vw #000d;
    overflow: hidden;
}

.fixation-prompt:after {
    content: attr(before-text);
    position: absolute;
    font-weight: bold;
    left: 0;
    top: 0;
    color: #8f77;
    animation-name: jump2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
    z-index: -1;
}

.fixation-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #f8fb;
    font-weight: bold;
    transform: translate(-50%, -50%);
    font-size: 44pt;
    line-height: 50pt;
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

@keyframes jump {
    4% {
        transform: translate(-51%, -50%)
    }
    12% {
        transform: translate(-49%, -51%)
    }
    24% {
        transform: translate(-50%, -51%)
    }
    32% {
        transform: translate(-51%, -50%)
    }
    52% {
        transform: translate(-52%, -49%)
    }
    65% {
        transform: translate(-51%, -51%)
    }
    79% {
        transform: translate(-48%, -51%)
    }
    95% {
        transform: translate(-49%, -48%)
    }
}

@keyframes jump2 {
    4% {
        transform: translate(-3%, -2%) scale(.96)
    }
    11% {
        transform: translate(2%, -4%) scale(1.05)
    }
    25% {
        transform: translate(0%, 3%) scale(1)
    }
    33% {
        transform: translate(-2%, -0%) scale(1.03)
    }
    55% {
        transform: translate(3%, -1%) scale(.97)
    }
    63% {
        transform: translate(1%, 1%) scale(1.01)
    }
    80% {
        transform: translate(-2%, 3%) scale(1)
    }
    96% {
        transform: translate(1%, -2%) scale(.92)
    }
}

.trial {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #f8fb;
    font-weight: bold;
    transform: translate(-50%, -50%);
    font-size: 44pt;
    line-height: 60pt;
    animation-duration: 2s;
    animation-timing-function: linear;
    border-radius: 50%;
    background: #444d;
    width: 60pt;
    height: 60pt;
    border: solid 3pt #fff;
}

@keyframes down-to-up {
    0% {
        transform: translate(-50%, 50%);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -25%);
        opacity: 100;
    }
    100% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}

@keyframes up-to-down {
    0% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -25%);
        opacity: 100;
    }
    100% {
        transform: translate(-50%, 50%);
        opacity: 0
    }
}

.feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-style: italic;
    color: #fea;
    text-shadow: 0 -4pt 2pt #c82;
    transform: translate(-50%, -50%);
    font-size: 50pt;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes appear {
    0% { opacity: 0; transform: translate(-50%,-50%) scale(.7)}
    100% {opacity: 1; transform: translate(-50%,-50%) scale(1)}

}

.restart {

    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-style: italic;
    color: #fea;
    text-shadow: 0 -4pt 2pt #c82;
    transform: translate(-50%, -50%);
    font-size: 16pt;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.fullscreen {
    position: absolute;
    top: 20%;
    left: 50%;
    font-weight: bold;
    font-style: italic;
    color: #fea;
    text-shadow: 0 -4pt 2pt #c82;
    transform: translate(-50%, -50%);
    font-size: 16pt;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}



